{% extends "email/base.html" %}

{% block content %}
<h2>Reset Your Password</h2>
<p>Hello {{ user.username }},</p>
<p>We received a request to reset your password. Click the button below to create a new password:</p>

<a href="{{ reset_url }}" class="button">Reset Password</a>

<p>If you didn't request this password reset, you can safely ignore this email. Your password will remain unchanged.</p>

<p>For security reasons, this password reset link will expire in 1 hour.</p>

<p>If you're having trouble clicking the button, copy and paste this URL into your browser:</p>
<p>{{ reset_url }}</p>
{% endblock %} 